*{
    margin: 0;
    padding: 0;
    border: border-box;
    
}
body{
   background-image: radial-gradient(circle, rgba(45,72,207,1) 0%, rgba(223,35,73,1) 100%);
   text-align: center;
}
h1{
    margin-top: 5%;
    font-size: 4rem;
    color: #fff;
    text-shadow: 5px 10px 5px 10px #131212;
    font-style: italic;
}
span{
    color: #17ebeb;
}
.game{
    height: 50vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
    left: 20%;
}
button{
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
    box-shadow: 1px 1px 5px 2px #f8f8f8;
    border-radius: 30px;
    background-color: #e61414 ;
    color: #fff;
    
}
button:hover{
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
    box-shadow: 1px 1px 5px 2px #fa3131;
    border-radius: 30px;
    background-color: #075a27 ;
    color: #fff;
}
.result{
    height: 3.5rem;
    width: 50vw;
    border: 4px solid rgb(189, 230, 6);
    margin-left: 23%;
    padding: 5px 7px;
    background-color: #7abeec;
    border-radius: 10px;
    text-align: center;
}